name: .deploy-expo

on:
  workflow_call:
    inputs:
      stage:
        type: string
        description: "the stage of infrastructure to deploy against (e.g., prod, dev)"
        required: true
      build:
        type: string
        description: "the build to deploy (e.g., production, preview, development)"
        required: true
      github-environment:
        type: string
        description: "the github environment that the apply step will be executed in"
        required: true
      creds-aws-region:
        type: string
        description: creds for aws, specifies the region
        required: true
      creds-aws-role-arn:
        type: string
        description: creds for aws, specifies the role to assume via oidc
        required: true
      app-web-deployment-s3-bucket:
        type: string
        description: the s3 bucket within which the web app is deployed
        required: false

    secrets:
      expo-token:
        required: true
        description: required credentials to authenticate with expo eas

permissions:
  id-token: write # required for oidc
  contents: read

jobs:
  deploy-os:
    strategy:
      fail-fast: false # allow them to independently succeed; one platform having an issue shouldn't block others
      matrix:
        platform:
          - ios
          - android
    name: ${{ matrix.platform }}
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set node-version
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: configure aws credentials (oidc)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.creds-aws-role-arn }}
          aws-region: ${{ inputs.creds-aws-region }}

      - name: node-modules cache get
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: ./node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: node-modules cache miss install
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts --prefer-offline --no-audit

      - name: setup expo
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.expo-token }}

      - name: deploy ota update
        run: eas update --auto --channel ${{ inputs.build }} --platform ${{ matrix.platform }} --non-interactive

      - name: deploy app binary
        run: eas build --profile ${{ inputs.build }} --platform ${{ matrix.platform }} --non-interactive --no-wait ${{ inputs.build == 'production' && '--auto-submit' || '' }}

  deploy-web:
    name: web
    runs-on: ubuntu-latest
    if: ${{ inputs.stage == 'prod' && inputs.app-web-deployment-s3-bucket }}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set node-version
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: configure aws credentials (oidc)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.creds-aws-role-arn }}
          aws-region: ${{ inputs.creds-aws-region }}

      - name: node-modules cache get
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: ./node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: node-modules cache miss install
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts --prefer-offline --no-audit

      - name: setup expo
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.expo-token }}

      - name: compile
        run: npm run build:web

      - name: deploy
        run: aws s3 sync ./dist ${{ inputs.app-web-deployment-s3-bucket }} --delete --cache-control max-age=60,stale-while-revalidate=604800 # todo: fine tune the cache control; https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#stale-while-revalidate
