name: deploy

on:
  push:
    tags:
      - v*
    branches:
      - 'main'
      - 'master'
  workflow_dispatch:
    inputs:
      stage:
        description: 'which stage do you want to deploy to?'
        type: choice
        options:
          - dev
          - prod
        required: true
        default: 'dev'
      thoroughly:
        description: 'should we run tests before this deployment?'
        type: choice
        required: true
        default: 'true'
        options:
          - 'true'
          - 'false'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }} # per [workflow] x [branch, tag] x [event]
  cancel-in-progress: true # only cancel work flows on non-latest commits

jobs:
  test:
    uses: ./.github/workflows/.test.yml
    if: github.event_name != 'workflow_dispatch' || github.event.inputs.thoroughly == 'true'
    with:
      creds-aws-region: us-east-1
      creds-aws-role-arn: arn:aws:iam::@declapract{variable.awsAccountId.dev}:role/@declapract{variable.projectName}-github-actions-dev

  dev:
    uses: ./.github/workflows/.deploy-expo.yml
    needs: [test]
    # dont deploy on merge to main by default, since builds are expensive
    if: |
      ((github.ref == 'refs/heads/main' && github.event_name != 'workflow_dispatch' && false) || github.event.inputs.stage == 'dev') &&
      always() && (needs.test.result == 'success' || needs.test.result == 'skipped')
    with:
      stage: dev
      build: development
      github-environment: dev
      creds-aws-region: us-east-1
      creds-aws-role-arn: arn:aws:iam::@declapract{variable.awsAccountId.dev}:role/@declapract{variable.projectName}-github-actions-dev
    secrets:
      expo-token: ${{ secrets.EXPO_TOKEN }}

  prod:
    uses: ./.github/workflows/.deploy-expo.yml
    needs: [test]
    if: |
      (startsWith(github.ref, 'refs/tags/') && github.event_name != 'workflow_dispatch') || (github.event.inputs.stage == 'prod') &&
      always() && (needs.test.result == 'success' || needs.test.result == 'skipped')
    with:
      stage: prod
      build: production
      github-environment: prod
      creds-aws-region: us-east-1
      creds-aws-role-arn: arn:aws:iam::@declapract{variable.awsAccountId.prod}:role/@declapract{variable.projectName}-github-actions-prod
      app-web-deployment-s3-bucket: s3://@declapract{variable.projectName}-@declapract{variable.infrastructureNamespaceId}-prod
    secrets:
      expo-token: ${{ secrets.EXPO_TOKEN }}
