name: .deploy-sls

on:
  workflow_call:
    inputs:
      stage:
        type: string
        description: "the stage to deploy to"
        required: true
      github-environment:
        type: string
        description: "the github environment that the apply step will be executed in"
        required: true
      aws-region:
        type: string
        description: the aws region within which we should access
        required: true
      aws-account-id:
        type: string
        description: the id of the account the credentials are expected to access
        required: true
      needs-vpn-for-acceptance:
        type: boolean
        description: whether or not this environment needs vpn access for acceptance tests
        required: false
        default: false
    secrets:
      aws-access-key-id:
        required: true
        description: required credentials to authenticate with aws provider and state persistance
      aws-secret-access-key:
        required: true
        description: required credentials to authenticate with aws provider and state persistance
      pagerduty-integration-key:
        required: false
        description: enables sending pagerduty alarms on failure

jobs:
  install:
    uses: ./.github/workflows/.install.yml

  deploy:
    runs-on: ubuntu-24.04
    needs: [install]
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: set node-version
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        id: credentials
        with:
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          aws-region: ${{ inputs.aws-region }}

      - name: confirm aws credentials
        run: |
          [[ ${{steps.credentials.outputs.aws-account-id}} != ${{ inputs.aws-account-id }} ]] \
            && echo 'wrong aws account' && exit 1 \
            || echo 'correct aws account';

      - name: node-modules cache get
        uses: actions/cache/restore@v4
        with:
          path: ./node_modules
          key: ${{ needs.install.outputs.node-modules-cache-key }}
          fail-on-cache-miss: true

      - name: deploy
        run: STAGE=${{ inputs.stage }} DEPLOYER_NAME=$GITHUB_ACTOR npm run deploy

  assure:
    runs-on: ubuntu-24.04
    needs: [install, deploy]
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: set node-version
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        id: credentials
        with:
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          aws-region: ${{ inputs.aws-region }}

      - name: confirm aws credentials
        run: |
          [[ ${{steps.credentials.outputs.aws-account-id}} != ${{ inputs.aws-account-id }} ]] \
            && echo 'wrong aws account' && exit 1 \
            || echo 'correct aws account';

      - name: node-modules cache get
        uses: actions/cache/restore@v4
        with:
          path: ./node_modules
          key: ${{ needs.install.outputs.node-modules-cache-key }}
          fail-on-cache-miss: true

      - name: vpc:tunnel:open
        if: inputs.needs-vpn-for-acceptance
        run: STAGE=${{ inputs.stage }} .agent/repo=.this/skills/use.vpc.tunnel.ts

      - name: test:acceptance
        run: STAGE=${{ inputs.stage }} npm run test:acceptance

      - name: alarm on failure
        env:
          PAGERDUTY_INTEGRATION_KEY: ${{ secrets.pagerduty-integration-key }}
        if: failure() && env.PAGERDUTY_INTEGRATION_KEY
        uses: Entle/action-pagerduty-alert@0.2.0 # https://github.com/marketplace/actions/pagerduty-alert
        with:
          pagerduty-integration-key: "${{ secrets.pagerduty-integration-key }}"
          pagerduty-dedup-key: github_workflow_failed

  prune:
    runs-on: ubuntu-24.04
    needs: [install, deploy]
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: set node-version
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        id: credentials
        with:
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          aws-region: ${{ inputs.aws-region }}

      - name: confirm aws credentials
        run: |
          [[ ${{steps.credentials.outputs.aws-account-id}} != ${{ inputs.aws-account-id }} ]] \
            && echo 'wrong aws account' && exit 1 \
            || echo 'correct aws account';

      - name: node-modules cache get
        uses: actions/cache/restore@v4
        with:
          path: ./node_modules
          key: ${{ needs.install.outputs.node-modules-cache-key }}
          fail-on-cache-miss: true

      - name: prune
        run: STAGE=${{ inputs.stage }} DEPLOYER_NAME=$GITHUB_ACTOR npm run deploy:prune
