name: .terraform

on:
  workflow_call:
    inputs:
      working-directory:
        type: string
        description: "the directory from within which to execute terraform commands"
      github-environment:
        type: string
        description: "the github environment that the apply step will be executed in"
      allow-apply:
        type: boolean
        description: "whether the apply step is enabled. defaults to true on main"
        default: ${{ github.ref == 'refs/heads/main' }}
      creds-aws-region:
        description: "creds for aws, specifies the region"
        required: true
        type: string
      creds-aws-role-arn:
        description: "creds for aws, specifies the role to assume via oidc"
        required: true
        type: string

permissions:
  id-token: write # required for oidc
  contents: read

jobs:
  plan:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    outputs:
      has-changes-planned: ${{ steps.evaluate-plan.outputs.has-changes-planned }}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: get aws auth
        if: ${{ inputs.creds-aws-role-arn }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.creds-aws-role-arn }}
          aws-region: ${{ inputs.creds-aws-region }}

      - name: setup terraform
        uses: hashicorp/setup-terraform@v3

      - name: terraform init
        run: terraform init

      - name: terraform validate
        run: terraform validate

      - name: terraform plan
        id: plan
        run: terraform plan -detailed-exitcode | tee ./plan.log

      - name: evaluate plan
        id: evaluate-plan
        run: |
          if grep "infrastructure matches the configuration" ./plan.log
          then
            echo "has-changes-planned=false" >> "$GITHUB_OUTPUT"
          else
            echo "has-changes-planned=true" >> "$GITHUB_OUTPUT"
          fi

      - name: has changes planned?
        run: echo "${{ steps.evaluate-plan.outputs.has-changes-planned }}"

  apply:
    runs-on: ubuntu-24.04
    environment: ${{ inputs.github-environment }}
    needs: plan
    if: ${{ inputs.allow-apply == true && needs.plan.outputs.has-changes-planned == 'true' }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: get aws auth
        if: ${{ inputs.creds-aws-role-arn }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.creds-aws-role-arn }}
          aws-region: ${{ inputs.creds-aws-region }}

      - name: setup terraform
        uses: hashicorp/setup-terraform@v3

      - name: terraform init
        run: terraform init

      - name: terraform apply
        run: terraform apply -auto-approve
