name: provision

on:
  push:
    tags:
      - v*
    branches:
      - "main"
      - "master"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }} # per [workflow] x [branch, tag]
  cancel-in-progress: true #  cancel workflows for non-latest commits

jobs:
  aws-test:
    uses: ./.github/workflows/.terraform.yml
    with:
      working-directory: provision/aws/environments/test
      github-environment: dev
      creds-aws-region: us-east-1
      creds-aws-role-arn: ${{ vars.CREDS_CICD_AWS_DEV_OIDC_ROLE_ARN }}

  aws-dev:
    uses: ./.github/workflows/.terraform.yml
    with:
      working-directory: provision/aws/environments/dev
      github-environment: dev
      creds-aws-region: us-east-1
      creds-aws-role-arn: ${{ vars.CREDS_CICD_AWS_DEV_OIDC_ROLE_ARN }}

  aws-prod:
    uses: ./.github/workflows/.terraform.yml
    with:
      working-directory: provision/aws/environments/prod
      github-environment: prod
      allow-apply: ${{ startsWith(github.ref, 'refs/tags/') }} # only apply to prod on tags
      creds-aws-region: us-east-1
      creds-aws-role-arn: ${{ vars.CREDS_CICD_AWS_PROD_OIDC_ROLE_ARN }}

  github:
    uses: ./.github/workflows/.declastruct.yml
    with:
      wish-path: provision/github.repo/resources.ts
      github-environment: prod
      creds-github-app-owner: ehmpathy
      creds-github-app-id: ${{ vars.DECLASTRUCT_GITHUB_CONFORMER_APP_ID }}
    secrets:
      creds-github-app-private-key: ${{ secrets.DECLASTRUCT_GITHUB_CONFORMER_APP_PRIVATE_KEY }}

  sql-schema-dev:
    uses: ./.github/workflows/.sql-schema-control.yml
    with:
      stage: dev
      github-environment: dev
      creds-aws-region: us-east-1
      creds-aws-role-arn: ${{ vars.CREDS_CICD_AWS_DEV_OIDC_ROLE_ARN }}

  sql-schema-prod:
    uses: ./.github/workflows/.sql-schema-control.yml
    with:
      stage: prod
      github-environment: prod
      allow-apply: ${{ startsWith(github.ref, 'refs/tags/') }} # only apply to prod on tags
      creds-aws-region: us-east-1
      creds-aws-role-arn: ${{ vars.CREDS_CICD_AWS_PROD_OIDC_ROLE_ARN }}
