name: provision

on:
  push:
    tags:
      - v*
    branches:
      - "main"
      - "master"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }} # per [workflow] x [branch, tag]
  cancel-in-progress: true #  cancel workflows for non-latest commits

jobs:
  aws-test:
    uses: ./.github/workflows/.terraform.yml
    with:
      working-directory: provision/aws/environments/test
      github-environment: dev
      aws-region: us-east-1
      aws-account-id: "874711128849"
    secrets:
      aws-access-key-id: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}

  aws-dev:
    uses: ./.github/workflows/.terraform.yml
    with:
      working-directory: provision/aws/environments/dev
      github-environment: dev
      aws-region: us-east-1
      aws-account-id: "874711128849"
    secrets:
      aws-access-key-id: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}

  aws-prod:
    uses: ./.github/workflows/.terraform.yml
    with:
      working-directory: provision/aws/environments/prod
      github-environment: prod
      aws-region: us-east-1
      aws-account-id: "398838478359"
      allow-apply: ${{ startsWith(github.ref, 'refs/tags/') }} # only apply to prod on tags
    secrets:
      aws-access-key-id: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}

  github:
    uses: ./.github/workflows/.declastruct.yml
    with:
      wish-path: provision/github/declastruct.resources.ts
      github-environment: prod
    secrets:
      github-token: ${{ secrets.PROVISION_GITHUB_GITHUB_TOKEN }}

  sql-schema-dev:
    uses: ./.github/workflows/.sql-schema-control.yml
    with:
      stage: dev
      github-environment: dev
      aws-region: us-east-1
      aws-account-id: "874711128849"
    secrets:
      aws-access-key-id: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}

  sql-schema-prod:
    uses: ./.github/workflows/.sql-schema-control.yml
    with:
      stage: prod
      github-environment: prod
      aws-region: us-east-1
      aws-account-id: "398838478359"
      allow-apply: ${{ startsWith(github.ref, 'refs/tags/') }} # only apply to prod on tags
    secrets:
      aws-access-key-id: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
